*{
    margin: 0;
    padding: 0;
}

body{
    background-color: orange;
    background-size: auto;
}

#container1{
    text-align: center;
}

#container1 img, #container1 h1{
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 50px;
    margin-top: 50px;
}

#container1 img{
    width: 140px;
    height: auto;
}

#container1 h1{
    margin-left: 2px;
    font-family: Arial;
    font-size: 60px;
}

.navbar{
    text-align: center;
    margin-bottom: 20px;
}

.navbar ul{
    list-style-type:none;
    background-color: black;
    overflow: hidden;
}

.navbar a{
    color:azure;
    text-decoration:none;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 5px;
    display: block;
    text-align: center;
    font-size: 20px;
    font-family:'Times New Roman'
}

.navbar a:hover{
    background-color: rgb(53, 53, 53);
}

.navbar li{
    display:inline-block;
}

#container2{
    margin-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px;
    background-color: white;
}

#container2 img{
    width: 400px;
    margin-left:360px;
    margin-right: 30px;
}

#container2 h1{
    margin-left: 5px;
    font-family: Arial;
    line-height: 2.5;
}
#container2 h2{
    font-family: Arial;
    margin-left: 5px;
    line-height: 1.5;
    color:darkblue;
}

#container2 p{
    margin-left: 5px;
    margin-right: 5px;
    text-align:left;
    line-height: 1.5;
    font-family: 'Times New Roman';
    font-size: 17px;    
}
#container4 {
    background-color: black;
}

#container4 p {
    color: white;
    text-align: center;
    padding: 10px;
}